<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>FURIA Chatbot</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="main-container">
        <div class="header">
            <h1>Bem-vindo ao FURIA Chatbot! 🤖</h1>
            <p>Sou o assistente virtual da FURIA. Vamos conversar sobre a equipe FURIA e o CS2!</p>
        </div>
        
        <div class="navigation">
            <ul>
                <li><a href="{{ url_for('chat') }}">Iniciar Chat</a></li>
                <li><a href="{{ url_for('furia') }}">Saiba mais sobre a FURIA</a></li>
                <li><a href="{{ url_for('campeonatos') }}">Informações de campeonatos</a></li>
            </ul>
        </div>
    </div>
</body>
</html>
